<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </head>
  <body>
  	<script type="text/javascript">
  		addStudent = function(){
        var data = {};
  			data.name = $("#name").val();
        data.classname = $("#classname").val();
        data.parentname = $("#parentname").val();
        data.schoolname = $("#schoolname").val();
        data.subject = $("#subject").val();
        
  			
  			$.ajax({
			    url : "/api/student",
			    type: "POST",
			    data : data,
			    success: function(data, textStatus, jqXHR) {
			    	if(data.result == "success"){
			    		location = "/student";
			    	}
			    },
			    error: function (jqXHR, textStatus, errorThrown){
			    	alert("Unable to connect remote server..");
			    }
			});
  		}
  	</script>
    <h1><%= title %></h1>
    <input id="name" type="" placeholder="name" name=""> <br/><br/>
    <input id="classname" type="" placeholder="classname" name=""> <br/><br/>
    <input id="parentname" type="" placeholder="parentname" name=""> <br/><br/>
    <input id="schoolname" type="" placeholder="schoolname" name=""> <br/><br/>
    <input id="subject" type="" placeholder="subject" name=""> <br/><br/>
    <input type="button" placeholder="username" name="" onclick="addStudent()" value="Add">
  </body>
</html>
